body{
  font-family: 'Nunito', sans-serif;
  background-image: url(https://images.unsplash.com/photo-1614292253389-bd2c1f89cd0e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80);
  background-size: cover;
  color:white;
  display:inline;
  font-size:20px;
  
.image{
  width: 250px;
  }


.intro{
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  display: flex;
  margin-left:auto;
  margin-right:auto;
    
}
.connect{
    margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  display: flex;
  margin-left:auto;
  margin-right:auto;
  }